.page {
    color: var(--white);
    font-family: var(--common-font);
    font-weight: var(--common-weight);
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.page .navbar__menu-btn_filters {
    display: none;
}
@media screen and (max-width: 768px) {
    .page_market .navbar__menu-btn_filters {
        display: block;
    }
}