.content {
    max-width: var(--max-width);
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
@media screen and (max-width: 1439px) {
    .content {
        margin: 150px 0 0;
    }
}