:root {
    --common-font: 'Roboto';
    --heading-font: 'Playfair Display';
    --common-weight: 400;
    --fat-weight: 700;
    --accent: #f6c669;
    --black: #0d0d0d;
    --white: #fff;
    --gray-100: #ababab;
    --gray-200: #4c4c4c;
    --gray-300: #222222;
    --gray-400: #171717;
    --max-width: 1340px;
    --transition-fast: 0.3s;
    --transition-slow: 0.9s ease-in-out;
    --transition-very-slow: 1.5s ease-in-out;
}
@media screen and (max-width: 1440px) {
    :root {
        --max-width: 728px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --max-width: 408px;
    }
}