.catalog {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.catalog__navigation {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.catalog__breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 20px;
}
.catalog__breadcrumbs-span {
  color: var(--gray-100);
  font-size: 16px;
  line-height: 125%;
}
.catalog__breadcrumbs-link {
  color: var(--gray-100);
  font-size: 16px;
  line-height: 125%;
}
.catalog__title {
  font-size: 32px;
  font-weight: var(--bold-weight);
}
.catalog__filters-tags {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 40px 0;
}
.catalog__filters-tag {
  background-color: var(--gray-300);
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-fast);
}
.catalog__filters-tag_active {
  color: var(--gray-400);
  background-color: var(--white);
}
.catalog__container {
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
}
.catalog__products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 430px;
  gap: 20px;
}
@media screen and (max-width: 1439px) {
  .catalog__container {
    grid-template-columns: 290px 1fr;
  }
  .catalog__products {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
  }
}
@media screen and (max-width: 767px) {
  .catalog__filters-tags {
    display: none;
  }
  .catalog__container {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
  }
}