.product {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.product__heading .breadcrumbs {
    margin: 0;
}
.product__heading-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.product__heading-btn {
    font-size: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__heading-btn_like_active .product__heading-btn-span, .product__heading-btn_like_active .product__heading-btn-icon {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.product__heading-btn_like_active .product__heading-btn-span_hidden, .product__heading-btn_like_active .product__heading-btn-icon_hidden {
    position: relative;
    z-index: unset;
    opacity: 1;
}
.product__heading-btn-span, .product__heading-btn-icon {
    position: relative;
    z-index: unset;
    opacity: 1;
}
.product__heading-btn-span_hidden, .product__heading-btn-icon_hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.product__heading-btn-icon {
    width: 20px;
    height: 20px;
    transition: var(--transition-fast);
}
.product__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 20px;
}
.product__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product__preview {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.product__gallery {
    max-height: 420px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.product__gallery-thumbnails {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 90px;
    grid-template-rows: repeat(4, 90px);
    gap: 20px;
}
.product__gallery-thumb {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}
.product__gallery-thumb-img {
    width: 100%;
}
.product__gallery-main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}
.product__gallery-image {
    width: 100%;
}
.product__about {
    width: 100%;
    max-height: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.product__title {
    font-size: 32px;
    font-weight: var(--bold-weight);
    margin: 0 0 20px 0;
}
.product__brand {
    font-size: 16px;
    margin: 0 0 10px 0;
}
.product__brand-span {
    color: var(--accent);
}
.product__brand-icon {
    width: 14px;
    height: 14px;
    margin: 0 0 0 2px;
}
.product__meta {
    color: var(--gray-100);
    font-size: 16px;
    margin: 0 0 20px 0;
}
.product__meta-span {
    margin: 0 4px;
}
.product__details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.product__details_hidden {
    display: none;
}
.product__details-title {
    font-size: 24px;
    font-weight: var(--medium-weight);
    margin: 0 0 20px 0;
}
.product__details-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.product__details-item {
    color: var(--gray-100);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-300);
}
.product__details-copy {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.product__details-tooltip {
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 26px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-fast);
}
.product__details-tooltip_visible {
    z-index: 999;
    opacity: 1;
}
.product__details-value {
    color: var(--white);
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0 0 0 auto;
}
.product__details-copy-btn {
    background-color: transparent;
    background-image: url('../../images/product/__copy.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}
.product__pricing {
    width: 100%;
    max-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.product__pricing_hidden {
    display: none;
    margin: 40px 0 0;
}
.product__pricing-container {
    background-color: var(--gray-400);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.product__price {
    width: 100%;
    display: flex;
    align-items: center;
}
.product__price-current {
    font-size: 24px;
    font-weight: var(--bold-weight);
    margin: 0 8px 0 0;
}
.product__price-old {
    color: var(--gray-100);
    font-size: 24px;
    text-decoration: line-through;
}
.product__price-discount {
    color: var(--gray-400);
    font-size: 12px;
    font-weight: var(--bold-weight);
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 4px 12px;
    margin: 0 0 0 auto;
    border-radius: 4px;
}
.product__installment {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__installment-btn {
    background-color: var(--gray-300);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.product__installment-info {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.product__installment-pricing {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__installment-price {
    font-size: 16px;
}
.product__installment-date {
    color: var(--gray-100);
    font-size: 16px;
}
.product__actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.product__actions-cart {
    color: var(--gray-400);
    font-size: 16px;
    font-weight: var(--medium-weight);
    background-color: var(--white);
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0;
    border-radius: 6px;
}
.product__actions-buy {
    font-size: 16px;
    font-weight: var(--medium-weight);
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0;
    border-radius: 6px;
    border: 1px solid var(--gray-200);
}
.product__add {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.product__faq {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.product__faq-title {
    font-size: 16px;
    font-weight: var(--medium-weight);
}
.product__faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.product__faq-link {
    color: var(--gray-100);
    font-size: 16px;
    text-decoration: underline;
}
.product__delivery {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.product__delivery-title {
    font-size: 16px;
    font-weight: var(--medium-weight);
}
.product__delivery-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.product__delivery-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__delivery-text {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
}
.product__delivery-subtitle {
    font-size: 16px;
}
.product__delivery-subtitle-span {
    color: var(--gray-400);
    font-size: 12px;
    font-weight: var(--bold-weight);
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 4px 12px;
    margin: 0 0 0 10px;
    border-radius: 4px;
}
.product__delivery-btn {
    color: var(--gray-100);
    font-size: 12px;
    text-decoration: underline;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__delivery-edit {
    width: 12px;
    height: 12px;
}
.product__description {
    width: 100%;
    margin: 40px 0 0;
    display: grid;
    grid-template-columns: 1fr 680px;
    gap: 40px;
}
.product__description-title {
    font-size: 32px;
    font-weight: var(--bold-weight);
}
.product__specifications-text {
    color: var(--gray-100);
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
}
.product__description-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.product__specifications {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.product__specifications-title {
    font-size: 16px;
    font-weight: var(--medium-weight);
}
.product__specifications-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.product__specifications-item {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-300);
}
.product__specifications-label {
    color: var(--gray-100);
    font-size: 16px;
}
.product__specifications-value {
    font-size: 16px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.product__features {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.product__features-title {
    font-size: 16px;
    font-weight: var(--medium-weight);
}
.product__features-text {
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-100);
}
.product__rec {
    width: 100%;
    margin: 40px 0 0 0;
}
.product__rec-title {
    font-size: 32px;
    font-weight: var(--bold-weight);
    margin: 0 0 40px 0;
}
.product__rec-list {
    width: 100%;
    height: 430px;
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 320px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
}
.product__rec-list::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 1440px) {
    .product__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .product__preview {
        grid-template-columns: 270px 1fr;
    }
    .product__gallery {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .product__gallery-thumbnails {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: 60px;
        gap: unset;
        justify-content: space-between;
    }
    .product__description {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    .product__description-title {
        font-size: 24px;
    }
    .product__pricing {
        display: none;
    }
    .product__pricing_hidden {
        display: flex;
    }
    .product__add {
        flex-direction: row-reverse;
    }
    .product__faq {
        padding: 0;
    }
    .product__delivery {
        padding: 0;
    }
    .product__rec-list {
        height: 420px;
    }
}
@media screen and (max-width: 768px) {
    .product__heading .breadcrumbs {
        display: none;
    }
    .product__gallery {
        max-height: 640px;
        gap: 20px;
    }
    .product__gallery-thumbnails {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: 90px;
    }
    .product__preview {
        display: flex;
        flex-direction: column;
    }
    .product__about {
        max-height: unset;
    }
    .product__meta {
        margin: 0;
    }
    .product__details {
        display: none;
    }
    .product__pricing_hidden {
        margin: 20px 0 0;
    }
    .product__details_hidden {
        display: flex;
    }
    .product__details-list {
        gap: 20px;
    }
    .product__add {
        flex-direction: column-reverse;
    }
}